<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>New Care Seeker</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet"
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <style>
  html{
   padding:50px;
  }
 </style>
</head>
<body>
  <div class="container">
   <div class="page-header text-center">
    <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
   </div>
  <div class="container">
   <div class="col-sm-6 col-sm-offset-3">
    <h2>New Care Seeker</h2>

    <form action="/addcareseeker" method="post">
     <div class="form-group">
      <label>First name</label>
      <input type="text" class="form-control" name="firstname" required>
     </div>
     <div class="form-group">
      <label>Last name</label>
      <input type="text" class="form-control" name="lastname" required>
     </div>
     <div class="form-group">
      <label>Birth date</label>
      <input type="date" class="form-control" name="birthdate" required>
     </div>
      <label>Sex</label>
      <div class="form-group">
      <input type="radio" name="sex" value="M" checked> Male
      <input type="radio" name="sex" value="F"> Female
     </div>
     <label>Blood group</label>
     <div class="form-group">
      <input type="radio" name="bloodgroup" value="O+" checked> O+
      <input type="radio" name="bloodgroup" value="B+"> B+
      <input type="radio" name="bloodgroup" value="A+"> A+
      <input type="radio" name="bloodgroup" value="AB+"> AB+<br>
      <input type="radio" name="bloodgroup" value="O-  "> O-
      <input type="radio" name="bloodgroup" value="B- "> B-
      <input type="radio" name="bloodgroup" value="A- "> A-
      <input type="radio" name="bloodgroup" value=" AB-"> AB-
     </div>
     <% if(message.length > 0) { %>
      <div class="alert alert-success"><%= message %></div>
     <% } %>
     <button type="submit" class="btn btn-succcess btn-lg">Submit</button>
    </form>

    <hr>

   <p><a href="/Profile">Home</a></p>
   </div>
  </div>
</body>
</html>
